.cartItem {
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 1px solid #efefdc;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
}

.cardImageContainerCart {
    width: 200px;
    height: 200px;
}

.cardImageCart {
    width: 100%;
    height: 100%;
}

.cartContentContainer {
    display: flex;
    flex-direction: column;
    flex: 2;
    padding-left: 1rem;
    padding-bottom: 1rem;
    color: #000000;
    justify-content: space-between;
}

.cartProductName {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0;
}

.cartQuantity {
    font-size: 0.9rem;
    margin: 0;
}

.cartPrice {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0;
}

.cartStock {
    font-size: 0.9rem;
    margin: 0;
}

.cartActions {
    display: flex;
    flex-direction: row;
    max-width: 280px;
    justify-content: space-between;
}

.cartButttonAdd {
    border: none;
    background-color: #5156A4;
    color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 0.2rem;
    transition: all 0.3s ease-in-out;
}

.cartButttonAdd:hover {
    background-color: #CBBAED;
    color: #000000;
}

.cartButttonDecrease {
    border: none;
    background-color: white;
    color: #000000;
    padding: 1rem 2rem;
    border-radius: 0.2rem;
    border: 1px solid #000000;
    transition: all 0.3s ease-in-out;
    margin-left: 4px;
}

.cartButttonRemove {
    border: none;
    background-color: white;
    color: #000000;
    padding: 1rem 2rem;
    border-radius: 0.2rem;
    border: 1px solid #000000;
    transition: all 0.3s ease-in-out;
}

.cartButttonDecrease:hover,
.cartButttonRemove:hover {
    background-color: #5156A4;
    color: #ffffff;
}

@media (max-width: 1300px){
    .cartContainerCart{
        padding-top: 10vh;
    }
}

@media (max-width: 600px) {

    .cartProductName {
        font-size: 1.2rem;
        font-weight: 600;
        margin: 0;
    }
    
    .cartQuantity {
        font-size: 0.9rem;
        margin: 0;
    }
    
    .cartPrice {
        font-size: 1.2rem;
        font-weight: 250;
        margin: 0;
    }
    
    .cartStock {
        font-size: 0.9rem;
        margin: 0;
    }

    .cartActions {
        display: flex;
        flex-direction: column;
        max-width: 100px;
        width: 10px;
        overflow: inherit;
        justify-content: space-between;
    }

    .cartButttonAdd {
        padding: 1rem;
    }
        
    .cartButttonDecrease {
        padding: 1rem;
    }
    
    .cartButttonRemove {
        padding: 1rem;
        width: 14vh;
        margin-top: 4px;
    }    

    .rowButton {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .cardImageCart {
        margin-top: 3vh;
    }

}