.checkoutContainer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.checkoutTitle {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}
.checkoutForm {
    display: flex;
    flex-direction: column;
    max-width: 70vw;
    padding-left: 3rem;
}
.checkoutFormContainer {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.checkoutFormInputGroup {
    padding: 1rem 0; 
}

.butttonCheckout {
    border: none;
    background-color: #5156A4;
    color: #ffffff;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 0.2rem;
    transition: all 0.3s ease-in-out;
    width: 30%;
    margin-left: 3.3rem;
}

.butttonCheckout:hover {
    background-color: #3f428e;
}

.butttonCheckout:disabled {
    background-color: #808A9F;
    color: #ffffff;
    cursor: not-allowed;
}

@media (max-width: 1300px){
    .checkoutContainer{
        padding-top: 10vh;
    }

    /* .checkoutForm {
        max-width: 70vw;
    }     */

}

.checkoutCartContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1.6rem;
}

.checkoutDetailContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 2rem;
}